<!-- views/index.ejs -->
<!doctype html>
<html>

<head>
	<title>Pinterist Clone</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<!-- load fontawesome -->
</head>

<body style="padding-top: 65px">
	<nav class="navbar navbar-fixed-top navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Pinterest Clone</a>
				<ul class="nav navbar-nav">
					<li><a href="/">Home</a></li>
					<% if(user !== null) {%>
						<li><a href="/Manage/<%=user.twitter.id%>">Manage My Wall</a></li>
						<%}%>
							<li><a href="/About">About</a></li>
			</div>
			<div class="nav navbar-text navbar-right">
				<% if(user !== null) {%> Hello,
					<%= user.twitter.displayName%>
						<%} else {%>
							<span><a href='/auth/twitter' class='btn btn-sm btn-primary'><span class='fa fa-twitter'></span> Log in with Twitter</a>
							</span>
							<%}%>
			</div>
			</ul>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="span12">
				<h1 class="text-center">About</h1>
				<p class="span8 text-center">Thank you for learning more about my clone of Pinterest. I build this on an express server, useing EJS and Masonary.js as well as mongoDB. A little bootstrap was added to make the menu bar.</p>
			</div>
		</div>
	</div>

</body>

</html>
