<!-- views/index.ejs -->
<!doctype html>
<html>

<head>
	<title>Pinterist Clone</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<!-- load fontawesome -->
</head>

<body style="padding-top: 65px">
	<header>
	<% include header %>
</header>
	<div class="container">
		<div class="row">
			<div class="span12">
				<h1 class="text-center">About</h1>
				<p class="span8 text-center">Thank you for learning more about my clone of Pinterest. I build this on an express server, useing EJS and Masonary.js as well as mongoDB. A little bootstrap was added to make the menu bar.</p>
			</div>
		</div>
	</div>

</body>

</html>
